@media print {
	body { background:#333; color:#ccc; margin:0 }
	header.main, footer.main {display:hidden;}
	h2, h3 {text-align: center;}
    a:after { content: " ("attr(href)") "; font-size: 10pt;}
}
