/* 
 * Global Settings
 */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 10pt;
	font-family: Verdana, "Droid Sans", Arial, Helvetica;
	color: #CCCCCC;
	background-color: #2a2a2a;
}

p, h1, h2, h3, ul, ol {
	padding-bottom: 10px;
}

/*
 * Main Header
 */

header .main {
    height: 70px;
    color: #fff;
}

header img {
	padding-left: 10px;
}

/* 
 * Top navigation bar 
 */

#top {
    font-size: 10pt;
	background: url(images/background_nav.gif) repeat-x;
	clear: both;
	height: 24px;
	padding: 6px 0px 0px 20px;
	font-weight: bold;
}

#top ul li {
	display: inline;
	list-style: none;
}

#top li {
	padding-right: 20px;
}

#top a:link, a:visited {
	text-decoration: none;
	color: #fff;
}

#top a:hover, a:active {
	text-decoration: none;
	color: #ccc;
}

/*
 * Sidebar
 */

aside {
	float: right;
	width: 180px;
	padding: 30px 30px 2px 20px;
}

aside h3 {
	color: #1793d1;
}

aside ul {
	list-style: none;
}

aside a:link, a:visited {
	color: #fff;
	text-decoration: none;
}

aside a:hover, a:active {
	color: #ccc;
	text-decoration: none;
}

/* 
 * Main content area 
 */

#content {
	background: #333;
	margin: 0px 230px 0px 0px;
	padding: 30px 20px 0px 30px;
}

#content a:link, a:visited {
	text-decoration: none;
	color: #1793d1
}

#content a:hover, a:active {
	color: #8cd9ff;
}

article {
	padding: 1.5em;
    font-size: 1.2em;
}

/*
 * Site Footer
 */

footer {
	clear: both;
	padding: 30px;
	color: #999999;
}
